
:host{
  --ws-audioplayer-border-color : black;
  --ws-audioplayer-bg-color : transparent;
  --ws-audioplayer-header-bg-color : #999;
  --ws-audioplayer-text-color : white;
  --ws-audioplayer-playbutton-color : black;
  --ws-audioplayer-playbutton-active-color : grey;
  --ws-audioplayer-playbutton-bg-color : #999;
  --ws-audioplayer-round-corners : 10px;
}

.wsap-container {
    max-width:600px;
    border:1px solid var(--ws-audioplayer-border-color,black);
    border-radius: var( --ws-audioplayer-round-corners,0);
    overflow: hidden;
    background-color: var(--ws-audioplayer-bg-color,transparent);
}
.wsap-container .title {
    flex:100%;
}
.wsap-left-controls {
    vertical-align:top;
    flex:1;
    text-align:center;
}
button.play-pause:focus {
    outline:none;
}
button.play-pause:active {
    outline:none;
    border-style:initial;
}
.wsap-left-controls img {
    width:75px;
}
.wsap-container div#wavesurfer {
    vertical-align: top;
    flex:4;
}
.player-header {
  width:100%;
  margin-bottom:10px;
  display:flex;
  background:var(--ws-audioplayer-header-bg-color,grey);
  color: var(--ws-audioplayer-text-color,black);
  line-height: 40px;
  font-family: sans-serif;
  font-weight: bold;
  border:1px solid var(--ws-audioplayer-border-color,black);
}
.current-time, .total-time {
  padding: 0 10px;
  outline: 1px solid var(--ws-audioplayer-border-color,black);
}
.title {
    padding: 0 20px;
    font-family: Helvetica, Arial, sans-serif;
}
.title h3 {
    margin: 0;
}
button.play-pause {
    border-radius: 50%;
    height: 102px;
    width: 102px;
    position: relative;
    border-style:initial;
    background-color: var(--ws-audioplayer-playbutton-bg-color,grey);
}
.player-main {
  display:flex;
  margin: 10px 0;
}
.symbol {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: scale(.6);
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent var(--ws-audioplayer-playbutton-color,#202020);
    transition: 100ms all ease;
    cursor: pointer;

    /* play state */
    border-style: solid;
    border-width: 37px 0 37px 60px;
}
.symbol.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}
.symbol:hover {
    border-color: transparent transparent transparent var(--ws-audioplayer-playbutton-active-color,#404040);
}

/* Dark Theme */
.wsap-container.dark {
  --ws-audioplayer-bg-color : #202020;
  --ws-audioplayer-border-color: #4f4f4;
  --ws-audioplayer-text-color: #f3f3f3;
  --ws-audioplayer-header-bg-color : #333;
}
